*{
    background: url("assets/bg-floor.jpg");
}

input {
    background: white;
}

.importantButton {
    width: 120px;
    height: 30px;
    color: white;
    font-size: 20px;
    border-radius: 30%;
    margin-left: 60px;
    margin-right: 10px;
    margin-top: 10px;
    background: rgb(255,154,139);
    background: linear-gradient(43deg, rgba(255,154,139,1) 0%, rgba(255,106,136,1) 50%, rgba(255,153,172,1) 100%);
}

.importantFlag {
    background: orange;
}
#added {
    color: black;
}

.wrapper {
    background: url("assets/list-picture.jpg");
    border-radius: 10%;
    width: 250px;
    height: 250px;
    margin: 10px;
}

.wrapper:hover {
    /*transition: 2s;*/
    /*background:rgba(0,0,0,.3);*/
}

.toggleClass {
    margin-top: 50px;
    margin-left: 15px;
}

.cleanClass {
    width: 100px;
    height: 30px;
    color: white;
    font-size: 20px;
    border-radius: 30%;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 10px;
    background: rgb(255,154,139);
    background: linear-gradient(43deg, rgba(255,154,139,1) 0%, rgba(255,106,136,1) 50%, rgba(255,153,172,1) 100%);

}

.completeTextClass {
    margin-top: 50px;
}

.todoTextClass {
    margin-top: 100px;
    display: block;
    margin-left: 35px;
}

.tagImportantClass {
    margin-top: 10px;
}

#add {
    color: red;
}

#create {
    color: orange;
    background-color: yellow;
}

#button {
    color: #7CFC00;
}

#todo-txt {
    display: flex;
    margin: 10px;
    color: red;
}

#todo {
    background-color: #FF4500;
}

#input-txt {
    color: red;
}
